header{
    padding: 35px;

}
 .container{
    color: rgb(255, 255, 255);
    background-color: rgba(8, 63, 127, 0.927);
 }
 .col{
    text-align: center;
    margin: 100px;
    padding: 60px;
    background-color: rgba(0, 0, 0, 0.334);
    border-radius: 35px;

 }
 .form-label{
    margin: 35px;
    padding: 15px;
 }
 .form-control{
     width: fit-content;
     border-radius: 50px;
 }